@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root{
    --base-100: #fafafa;
    --base-200: #e8e6e7;
    --base-300: #d3d2d2;
    --base-400: #0f0f0f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Google Sans", sans-serif;
}

.menu-drop-zone{
    position: fixed;
    top: 2rem;
    left: 2rem;
    height: cals(3.5rem + 0.7rem);
    border: 0.075rem dashed rgba(0, 0, 0, 0.5);
    border-radius: 4rem;
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    opacity: 0;
}

.menu-drawer{
    position: fixed;
    top: 2rem;
    left: 2rem;
    padding: 0.35rem;
    background-color: var(--base-200);
    border-radius: 4rem;
    display: flex;
    align-items: center;
}

.menu-logo{
    width: 6rem;
    height: 3rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.menu-logo img{
    width: 5.5rem;
}

.menu-items{
    display: flex;
    gap: 0.35rem;
}

.menu-items .menu-item{
    width: max-content;
    height: 3.5rem;
    background-color: var(--base-100);
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    opacity: 0;
}

.menu-items .menu-item a{
    text-decoration: none;
    color: var(--base-400);
    font-weight: 450;
    letter-spacing: -0.01rem;
    padding: 0 1.5rem;
    user-select: none;
}

.menu-toggler {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    padding: 1.125rem;
    background-color: var(--base-300);
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    flex-shrink: 0;
    cursor: pointer;
}

.menu-toggler span{
    position: relative;
    width: 100%;
    height: 0.125rem;
    background-color: var(--base-400);
    transition: transform 0.3s ease;
    transform-origin: center;
    will-change: transform;
}

.menu-toggler.close span:nth-child(1){
    transform: rotate(45deg) translateX(0.125rem) translateY(0.1rem) scaleX(0.9);
}
.menu-toggler.close span:nth-child(2){
    transform: rotate(-45deg) translateX(0.125rem) translateY(-0.1rem) scaleX(0.9);
}